<h2 class="section-title">{{ .titles.cfp }} (<a href={{ .cfp.url }}>PDF version</a>)</h2>

<!-- <p itemprop="description">{{ .cfp.text }} </p> -->
<p itemprop="description">
  The workshop seeks high-quality full (8-10 pages) papers that have not been published in other academic outlets and 
  are not concurrently under peer review. Once accepted, at least one author is required to register for the workshop 
  and the ACM SIGSPATIAL conference, as well as attend the workshop to present the accepted work which will then appear 
  in the ACM Digital Library. 
</p>

<p itemprop="description">
  The topics include but are not limited to (in the context of industrial or related problems, such as delivery, routing, 
  recommendation, mapping, resource allocation, and more):
</p>

<ul class="cfp_topic">
  <li class="cfp_topic_item"><p>Applications of AI</p></li>
  <li class="cfp_topic_item"><p>Applications of big data systems</p> </li>
  <li class="cfp_topic_item"><p>Problems and benchmark datasets</p></li>
  <li class="cfp_topic_item"><p>Machine learning and deep learning</p></li>
  <li class="cfp_topic_item"><p>Computer vision and Earth observation</p></li>
  <li class="cfp_topic_item"><p>Generative models and simulation</p></li>
  <li class="cfp_topic_item"><p>Map generation</p></li>
  <li class="cfp_topic_item"><p>Heterogeneous data</p></li>
  <li class="cfp_topic_item"><p>Small data learning</p></li>
  <li class="cfp_topic_item"><p>Citizen science and data collection</p></li>
  <li class="cfp_topic_item"><p>Spatial query processing</p></li>
  <li class="cfp_topic_item"><p>Spatial data management and integration</p></li>
  <li class="cfp_topic_item"><p>Perspectives</p></li>
  <li class="cfp_topic_item"><p>Emerging topics and trends</p></li>
</ul>


<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-r3w3{border-color:#ffffff;font-family:"Courier New", Courier, monospace !important;;font-weight:bold;text-align:left;
  vertical-align:top}
</style>