<h2 class="section-title">{{ .titles.organizer }}</h2>

<h5>Program Chairs</h5>

<table class="tg">
<thead>
</thead>
<tbody>
  {{ range $pc_chair_index, $pc_chair := .organizer.pc_chair }}
  <tr><td class="tg-r3w3">{{ $pc_chair }}</td></tr>
  {{ end }}
</tbody>
</table>

<h5>Program Committee</h5>

<table class="tg">
<thead>
</thead>
<tbody>
  {{ range $pc_member_index, $pc_member := .organizer.pc_member }}
  <td class="tg-r3w3">{{ $pc_member }}</td>
  <!-- Control the number of columns per row -->
    {{ if  eq (mod $pc_member_index 2) 1 }}<tr></tr>{{ end }}
  {{ end }}
</tbody>
</table>

<h5>Webmasters</h5>

<table class="tg">
<thead>
</thead>
<tbody>
  {{ range $webmaster_index, $webmaster := .organizer.webmaster }}
  <td class="tg-r3w3">{{ $webmaster }}</td>
  <!-- Control the number of columns per row -->
    {{ if  eq (mod $webmaster_index 2) 1 }}<tr></tr>{{ end }}
  {{ end }}
</tbody>
</table>